<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
	layout:decorate="~{fragments/main_layout}">
<head>
<title th:text="|Categoria ${categoria.nombre}|"></title>
</head>
<body>
	<div layout:fragment="content" class="container-fluid">
		<div class="row my-2">
			<div class="offset-md-1 col-md-10">
				<div class="d-flex justify-content-end my-2">
					<a th:href="@{/Categoria/Index}" class="btn btn-info">Regresar</a>
				</div>
			</div>
			<div class="offset-md-1 col-md-10 border bg-white">
					
					<form id="app" @submit="checkForm" 
					modelAttribute="categoria"
					th:action="@{|/Categoria/Editar/${categoria.id}|}"
					method="post">
					
					<h3>Categoria {{Nombre || "a Actualizar"}}</h3>
					
					<div v-if="errors.length" class="form-row">
						<div class="col">
							<p v-if="errors.length">
								<b>Corrige los siguientes errores:</b>
								
								<div v-for="error in errors"  class="alert alert-danger" role="alert">
								  {{ error }}
								</div>
							</p>	
						</div>
					</div>
					<div class="form-row">
						<div class="form-group col-md-12">
							<label for="Id">ID</label>
							<input id="Id"  v-model="Id"			      
						      type="number"
						      th:value="${categoria.id}"
						      disabled
						      name="Id"
						      class="form-control"/>
						</div>
					</div>
					<div class="form-row">
						<div class="form-group col-md-12">
							<label for="Nombre">Nombre</label>
							<input id="Nombre"  v-model="Nombre"			      
						      type="text"
						      name="Nombre"
						      class="form-control"/>
						</div>
					</div>
					<input type="submit" class="btn btn-primary" value="Guardar"/>
				</form>
			</div>
		</div>
	</div>
	<script layout:fragment="jsScript" th:inline="javascript" type="text/javascript">
	const app = new Vue({
		  el: '#app',
		  data: {
		    errors: [],
		    /*<![CDATA[*/
	    	Nombre: /*[[${categoria.nombre}]]*/,
	    	Id: /*[[${categoria.id}]]*/
	       	/*]]>*/
		  },
		  methods:{
		    checkForm: function (e) {
		     console.log(e);
		     return false;
		      if (this.Name) {
		    	  e.submit();
		    	  return true;
		      }

		      this.errors = [];

		      if (!this.Nombre) {
		        this.errors.push('Nombre requerido.');
		      }
		      
		      if(this.errors.length == 0){
		    	  return true;
		      }
		      e.preventDefault();
		    }
		  }
		})
    </script>
</body>
</html>