<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
	layout:decorate="~{fragments/main_layout}">
<head>
<title>Spring Boot Thymeleaf + Spring Security</title>
</head>
<body>
	<div layout:fragment="content" class="container-fluid" id="app">

		<div class="row my-2">
			<div class="col-md-8 offset-md-2">
				<div class="d-flex justify-content-end">
					<a class="btn btn-success" target="_blank" th:href="@{/Database/db.xlsx}">Descargar Excel</a>
				</div>
			</div>
		</div>

	</div>
	<script>
		new Vue({
			el: '#app',
		    vuetify: new Vuetify()
		})
	</script>
</body>
</html>