<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
	layout:decorate="~{fragments/main_layout}">
<head>
<title>Productos</title>
</head>
<body>
	<div layout:fragment="content" class="container-fluid"  >
		<div class="row my-2" >
			<div class="col-md-8 offset-md-2 ">
				<div class="d-flex justify-content-end my-2">
					<a th:href="@{/Producto/Nueva}" class="btn btn-success">Nuevo
						Producto</a>
				</div>
			</div>
			<div class="col-md-8 offset-md-2 border bg-white overflow-auto">
				<table class="table table-striped">
					<thead class="thead-dark">
						<tr>
							<th>Id</th>
							<th>Nombre</th>
							<th>Descripcion</th>
							<th>Inventario Inicial</th>
							<th>Punto de Pedido</th>
							<th>Unidad de Medida</th>
							<th>Categoria</th>
							<th>Comentario</th>
							<th>Inventario Actual</th>
							<th>Acciones</th>
						</tr>
					</thead>
					<tbody>
						<tr th:if="${productos.empty}">
							<td colspan="99" class="text-center">No hay productos
								disponibles
							</td>
						</tr>
						<tr th:each="producto : ${productos}">
							<td><span th:text="${producto.id}"></span></td>
							<td><span th:text="${producto.nombre}"></span></td>
							<td><span th:text="${producto.descripcion}"></span></td>
							<td><span th:text="${producto.inicioInventario}"></span></td>
							<td><span th:text="${producto.puntoDePedido}"></span></td>
							<td><span th:text="${producto.unidadMedida}"></span></td>
							<td><span th:text="${producto.categoria.nombre}"></span></td>
							<td><span th:text="${producto.comentario}"></span></td>
							<td><span th:text="${producto.cantidadInventario}"></span></td>							
							<td>
								<a th:href="@{|/Producto/${producto.id}|}"  title="Ver Detalles" class="btn btn-info m-1"><i class="fa fa-eye"></i></a>
								<a th:href="@{|/Producto/Editar/${producto.id}|}" title="Editar" class="btn btn-info m-1"><i class="fa fa-pencil"></i></a>
								<a th:href="@{|/Producto/Eliminar/${producto.id}|}" title="Eliminar" class="btn btn-danger m-1"><i class="fa fa-trash"></i></a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	
	<script layout:fragment="jsScript" type="text/javascript">
		new Vue({
			el : '#app',
			data : {
				showModal : false
			},
			methods: {
				test: (val) => {
					console.log("Nice");
					console.log(val);
				}
			}
		})
    </script>
	
</body>
</html>